body {
    margin: 0;
    padding: 0;
    Font-Family: "Montserrat", sans-serif;
}
.navbar{
    background-color: #141515;
    display: flex;
    flex-direction: row;
}
.navbar-mobile{
    display: none;
}
.logo{
    margin-left: 58px;
    margin-right: 450px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav-list{
    display: flex;
    flex-direction: row;
}
.nav-link{
    Font-Size: 20px;
    Line-Height: 24px;
    Vertical-Align: Top;
    color: white;
    text-decoration: none;
    list-style: none;
    margin-right: 100px;
    text-transform: capitalize;
    margin-top: 28px;
    margin-bottom: 28px;
}
.main-info{
    background-color: #141515;
}
.main-info-mobile{
    display: none;
}
.gym-img{
    margin-left: 150px;
    margin-top: 15px;
}
.rectangle{
    position: absolute;
    left: 1100px;
    top: 127px;
}
.main-text{
    width: 307px;
    height: 141px;
    background-color: #141515;
    position: absolute;
    top: 205px;
    left: 200px;
}
.energy-gym{
    Font-Size: 32px;
    Line-Height: 39px;
    text-align: Center;
    Vertical-Align: Top;
    color: white;
    text-transform: uppercase;
    padding-left: 5px;
    margin-top: 50px;
}
.button{
    width: 200px;
    height: 55px;
    background-color: #141515;
    position: absolute;
    top: 365px;
    left: 255px;
}
.button-text{
    font-size: 22px;
    color: white;
    position: absolute;
    left: 55px;
    top: 14px;
}
.section-description{
    font-size: 25px;
    color: white;
    width: 932px;
    height: 60px;
    margin-left: 175px;
}
.services{
    margin-top: -28px;
    background-color: #141515;
    padding-bottom: 123px;
}
.services-mobile{
    margin-top: -28px;
    background-color: #141515;
    padding-bottom: 123px;
    display: none;
}
.sprites-blocks{
    display: flex;
    flex-direction: row;
    margin-left: 185px;
}
.sprites-blocks2{
    display: flex;
    flex-direction: row;
    margin-left: 185px;
}
.sprite{
    margin-left: 50px;
}
.sprite-block{
    margin-right: 150px;
    margin-top: 50px;
}
.sprite-text{
    color: white;
    text-align: center;
    margin-left: 15px;
}
.sprite-text-last{
    color: white;
    text-align: center;
    margin-left: 95px;
}
.sprite1{
    margin-left: 105px;
}
.sprite2{
    margin-left: 75px;
}
.sprite3{
    margin-left: 20px;
}
.sprite4{
    margin-left: 105px;
}
.map{
    background-color: #141515;
    padding-bottom: 96px;
}
.map-mobile{
    display: none;
}
.map-info{
    border: 4px solid #ED1260;
    width: 580px;
    height: 296px;
    margin-left: 335px;
}
.map-img {
    margin-top: 27px;
    margin-left: 27px;
}
.placeholder{
    position: absolute;
    right: 857px;
    bottom: -608px;
}
.map-text{
    color: white;
    margin-left: 107px;
    font-size: 22px;
    margin-top: 12px;
}
.footer{
    display: flex;
    flex-direction: row;
    background-color: #141515;
}
.footer-mobile{
    display: none;
}
.footer-main-text{
    color: white;
    font-size: 45px;
    margin-left: 250px;
}
.footer-block{
    margin-top: 201px;
    margin-right: 150px;
}
.footer-block1{
    margin-top: 201px;
    margin-left: -350px;
    margin-right: 150px;
}
.menu-icon {
    margin-top: 50px;
    display: none;
    justify-content: center;
    align-items: center;
}
.menu-icon-line {
    position: relative;
    width: 30px;
    height: 1px;
    content: '';
    background-color: #F38A03;
}
.menu-icon-line::before {
    position: absolute;
    left: 0;
    top: -7px;
    content: '';
    width: 30px;
    height: 1px;
    background-color: #F38A03;
}

.menu-icon-line::after {
    position: absolute;
    left: 0;
    top: 7px;
    content: '';
    width: 30px;
    height: 1px;
    background-color: #F38A03;
}
@media screen and (max-width: 376px){
    .navbar{
        display: none;
    }
    .navbar-mobile{
        display: block;
        background-color: #141515;
        height: 100px;
    }
    .menu-icon{
        display: block;
        margin-left: 315px;
        margin-top: -30px;
    }
    .mobile-logo{
        margin-top: 20px;
    }
    .main-info{
        display: none;
    }
    .main-info-mobile{
        display: block;
        margin-top: -20px;
        background-color: #141515;
        padding-bottom: 100px;
    }
    .gym-img-mobile{
        background-image: url(../img/little-gym.png);
        height: 460px;
    }
    .energy-gym-mobile{
        left: 15px;
        position: absolute;
        top: 150px;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        background-color: #141515;
        color: white;
        width: 200px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .button-text-mobile{
        position: absolute;
        top: 270px;
        left: 47px;
        width: 105px;
        background-color: #141515;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 35px;
        color: white;
    }
    .rectangle-mobile{
        margin-left: 96px;
    }
    .section-description-mobile{
        color: white;
        font-size: 16px;
        width: 265px;
        height: 80px;
        margin-left: 45px;
        margin-top: 40px;
    }
    .services{
        display: none;
    }
    .services-mobile{
        display: block;
    }
    .sprites-blocks-mobile{
        display: flex;
        flex-direction: row;
    }
    .sprite-text-mobile{
        color: white;
        font-size: 14px;
        text-align: center;
    }
    .sprite-mobile1{
        margin-left: 55px;
    }
    .sprite-mobile2{
        margin-left: 100px;
    }
    .sprite-mobile3{
        margin-left: 45px;
    }
    .sprite-mobile4{
        margin-left: 35px;
    }
    .sprite-mobile5{
        margin-left: 45px;
    }
    .sprite-mobile6{
        margin-left: 132px;
    }
    .sprite-text-mobile1{
        margin-left: 20px;
    }
    .sprite-text-mobile2{
        margin-left: 80px;
    }
    .sprite-text-mobile3{
        margin-right: 35px;
    }
    .sprite-text-mobile5{
        margin-left: 45px;
    }
    .sprite-text-mobile6{
        margin-left: 120px;
    }
    .map{
        display: none;
    }
    .map-mobile{
        display: block;
        background-color: #141515;
        margin-top: -50px;
        padding-bottom: 40px;
    }
    .map-info-mobile{
        border: 4px solid #ED1260;
        width: 326px;
        height: 177px;
        margin-left: 10px;
    }
    .map-img-mobile{
        margin-top: 15px;
    }
    .map-text-mobile{
        color: white;
        font-size: 12px;
        margin-left: 65px;
        margin-top: 8px;
    }
    .footer{
        display: none;
    }
    .footer-mobile{
        display: block;
        background-color: #141515;
        margin-top: -20px;
        border: 3px solid #F38A03;
    }
    .mobile-contacts{
        font-size: 20px;
        color: white;
        text-transform: capitalize;
        margin-left: 125px;
    }
    .info-mobile{
        margin-left: 60px;
    }
    .infom-1{
        padding-bottom: 10px;
    }
}